extends default.pug

block content
  ul
    for entry in data.entries
      li

        h2
          a(href=`/${entry._fileName.replace('index.html','')}`)!= entry.fields.title

        p= entry.fields.description
