doctype html
block global-vars
  - var SEO_TITLE = "Site title"

html(lang='en')
  head
    meta(charset='UTF-8')
    title
      = title || SEO_TITLE
    meta(name='description', content=description)

    include ../partials/analytics.pug

  body
    header
      p
        a(href='/') Home
        = " | "
        a(href='/about.html') About

    block content

    footer
      p
        | Generated with
        = generator
        = ' - '
        a(href=url)= url
