---
title: metalsmith-contentful file
contentful:
  content_type: 2wKn6yEnZewu2SCCkus4as
  entry_filename_pattern: blog/${ fields.slug }
  create_permalinks: true
  entry_template: article.pug
layout: articles.pug
---
